:root {
  --base-font-family: 'Montserrat', sans-serif;
  --base-color: #1E1E1E;

  --pink: #FA2659;

  --pink-linear-gradient: linear-gradient(90deg, #FA2659 0%, #F93279 100%);
  --yellow-linear-gradient: linear-gradient(75deg, #FDD443 20%, #DE911D 90%);
}